.button {
  border: none;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--primary);
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--primary);
}
